
.nav-container{
 display: flex;
 justify-content: space-between;
 align-items: center;
 min-height: 10vh;
 background-color: hsl(0, 0%, 100%);
 border-bottom: 0.30px solid #e2e2e2;
 /* font-weight: bold; */

}


.list-style {
    width: 40%;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-around;
    /* padding: 30px; */
    /* cursor: pointer; */

}




