
.nav-container{
 display: flex;
 justify-content: space-between;
 padding-right: 10px;
 padding-left: 10px;
 min-height: 10vh;
 background-color: #191919;
 color: white;
}


.list-style {
    display: flex;
    width: 40%;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}




